<link rel="stylesheet" href="master-data.component.scss">
<mat-card>
  <mat-card-content>
    <div>
      <h5 class="card-header">Manage User Details</h5>
      <div class="grid grid-cols-12 gap-4">
        <div class="mt-2 col-span-5" *ngIf="tabGroup.selectedIndex === 0; else noSearch">
          <mat-form-field class="w-full" >
            <div class="flex">
              <mat-icon class="mr-2">search</mat-icon>
              <input matInput placeholder="Search by Name, Employee ID, Role Name or anything" (keyup)="filterUser($event)">
            </div>
          </mat-form-field>
        </div>
        <ng-template #noSearch>
          <div class="mt-2 col-span-5">

          </div>
        </ng-template>
        <div class="col-span-7">
          <div>
            <div class="button-container" *ngIf="tabGroup.selectedIndex === 0">
              <button mat-raised-button color="primary" (click)="addUser()">
                <mat-icon>add</mat-icon> Add Employee</button>
            </div>
            <div class="button-container">
              <button mat-raised-button *ngIf="tabGroup.selectedIndex === 1" mat-button color="primary" (click)="updatePermission()">
                <mat-icon>edit</mat-icon> Update Permission</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="my-5">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" dynamicHeight #tabGroup>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">
          <span class="font-semibold">people_outline</span>
        </mat-icon>
        <span class="pl-2 font-semibold">Users</span>
      </ng-template>
      <app-user-table [creatorID]="'null'"></app-user-table>
    </mat-tab>
    <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">
        <span class="font-semibold">lock_open</span>
      </mat-icon>
      <span class="pl-2 font-semibold">Permissions</span>
    </ng-template>
      <app-permission-table></app-permission-table>
    </mat-tab>
  </mat-tab-group>
</mat-card>
