<div>
  <ng-container *ngIf="dataSource.data.length > 0; else noDataMessage">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource">
        <ng-container *ngFor="let column of displayedColumns">
          <ng-container matColumnDef="{{ column }}">
            <th mat-header-cell *matHeaderCellDef class="small-green-header">{{ column | headerFormat}}</th>
            <ng-container>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="column !== 'role_name'">
                  <mat-checkbox [(ngModel)]="element[column]" [ngModelOptions]="{standalone: true}" (ngModelChange)="element[column] = element[column] ? 1 : 0" color="primary"></mat-checkbox>
                </ng-container>
                <ng-container *ngIf="column === 'role_name'">
                  {{ element[column] }}
                </ng-container>
              </td>
            </ng-container>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row"></tr>
        <tr class="odd:bg-white even:bg-green-50" mat-row *matRowDef="let row; columns: displayedColumns;" style="cursor: pointer"></tr>
      </table>
    </div>
  </ng-container>

  <ng-template #noDataMessage>
    <div class="flex flex-col items-center justify-center">
      <img class="mx-auto h-1/3 w-1/3" src="/assets/no-data.svg">
      <p class="text-center text-gray-400 text-sm mb-4">
        All the users of ISO Compliance System will appear here.
      </p>
    </div>
  </ng-template>
</div>
