<h2 mat-dialog-title class="ml-4">
  {{data?.key}} List</h2>
<mat-dialog-content class="mat-typography">
  <div class="grid grid-cols-12 gap-4" *ngIf="dataSource.data.length != 0;">
    <div class="col-span-5">
      <mat-form-field class="w-full" >
        <div class="flex">
          <mat-icon class="mr-2">search</mat-icon>
          <input matInput placeholder="Search & Filter by Column Values" (keyup)="applyFilter($event)">
        </div>
      </mat-form-field>
    </div>
    <div class="col-span-7"></div>
  </div>
  <div>
    <ng-container *ngIf="dataSource.data.length > 0; else noDataMessage">
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container *ngFor="let column of displayedColumns">
            <ng-container matColumnDef="{{ column }}">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="small-green-header">{{ column | headerFormat}}</th>
              <div>
                <td class="text-center" mat-cell *matCellDef="let element">
                  <ng-container>
                    <ng-container *ngIf="element[column] === null; else valueTemplate">
                      <p class="text-center"> - </p>
                    </ng-container>
                    <ng-template #valueTemplate>
                      {{ element[column] }}
                    </ng-template>
                  </ng-container>
                </td>
              </div>

            </ng-container>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row"></tr>
          <tr class="odd:bg-white even:bg-green-50" mat-row *matRowDef="let row; columns: displayedColumns;" style="cursor: pointer"  (click)="viewUserDetail(row)"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[4, 10,20]" showFirstLastButtons aria-label="Select users"></mat-paginator>
    </ng-container>

    <ng-template #noDataMessage>
      <div class="flex flex-col items-center justify-center">
        <img class="mx-auto h-1/3 w-1/3" src="/assets/no-data.svg">
        <p class="text-center text-gray-400 text-sm mb-4">
          No data available for your filter parameters.
        </p>
      </div>
    </ng-template>
  </div>
</mat-dialog-content>
