<p class="text-center">{{name}} Heat Map</p>
<div class="flex items-stretch h-full w-full mt-2">
  <p class="rotated text-gray-400 mb-20">
    Impact
  </p>
  <div class="grid grid-cols-3 grid-rows-3 gap-1">
    <!-- First row -->
    <div class="flex items-center justify-center bg-yellow-400 text-white font-bold p-4">
      H1 H2 H3
    </div>
    <div class="flex items-center justify-center bg-red-500 text-white font-bold p-4">
      High
    </div>
    <div class="flex items-center justify-center bg-red-500 text-white font-bold p-4">
      High
    </div>

    <!-- Second row -->
    <div class="flex items-center justify-center bg-green-500 text-white font-bold p-4">
      Medium
    </div>
    <div class="flex items-center justify-center bg-yellow-400 text-white font-bold p-4">
      Medium
    </div>
    <div class="flex items-center justify-center bg-red-500 text-white font-bold p-4">
      High
    </div>

    <!-- Third row -->
    <div class="flex items-center justify-center bg-green-500 text-white font-bold p-4">
      H6
    </div>
    <div class="flex items-center justify-center bg-green-500 text-white font-bold p-4">
      Low
    </div>
    <div class="flex items-center justify-center bg-yellow-400 text-white font-bold p-4">
      Low
    </div>
    <p class="text-gray-400 ml-20">Likelihood</p>
  </div>

</div>
