<mat-card>
  <mat-card-content>
    <div class="flex items-center justify-between">
      <h5 class="text-xl"><span class="font-semibold"> {{functionalDetail?.id}}
        : </span> {{functionalDetail?.activity_name}}</h5>
      <div class="flex space-x-2">
        <div class="button-container" *ngIf="userState.role.can_approve">
          <button mat-flat-button	 mat-button color="primary" (click)="openApproveDialog(functionalDetail)">
            <mat-icon>check</mat-icon>
            Accept
          </button>
        </div>

        <div class="button-container" *ngIf="userState.role.can_comment">
          <button mat-flat-button	 mat-button color="warn" (click)="openRejectDialog(functionalDetail)">
            <mat-icon>highlight_off</mat-icon>
            Reject
          </button>
        </div>

        <div class="button-container" *ngIf="userState.role.edit_function">
          <button mat-flat-button	 mat-button color="accent" (click)="editHira(functionalDetail)">
            <mat-icon>edit</mat-icon>
            Edit
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<div class="grid grid-cols-3 gap-4">
  <div class="col-span-2">
    <mat-card class="my-5">
      <div class="my-3 ml-4">
        <p style="font-size: 17px" class="my-3">Before Activity Details</p>
        <hr>
        <div class="my-3">
          <span class="font-medium text-gray-400">Start Date: </span>
          <span class="font-extralight">{{functionalDetail?.start_date}}</span>
        </div>

        <div class="my-3">
          <span class="font-medium text-gray-400">Sub Activity name: </span>
          <span class="font-extralight">{{functionalDetail?.sub_activity_name}}</span>
        </div>

        <div class="my-3">
          <span class="font-medium text-gray-400">Hazard: </span>
          <span class="font-extralight">{{functionalDetail?.hazard}}</span>
        </div>

        <div class="my-3 grid grid-cols-3 gap-4">
          <div class="col-span-1">
            <span class="font-medium text-gray-400">Gross Likelihood: </span>
            <span *ngIf="functionalDetail?.gross_likelihood == 1" class="font-extralight">Low</span>
            <span *ngIf="functionalDetail?.gross_likelihood == 2" class="font-extralight">Medium</span>
            <span *ngIf="functionalDetail?.gross_likelihood == 3" class="font-extralight">High</span>
          </div>
          <div class="col-span-1">
            <span class="font-medium text-gray-400">Gross Impact: </span>
            <span *ngIf="functionalDetail?.gross_impact == 1" class="font-extralight">Low</span>
            <span *ngIf="functionalDetail?.gross_impact == 2" class="font-extralight">Medium</span>
            <span *ngIf="functionalDetail?.gross_impact == 3" class="font-extralight">High</span>
          </div>
          <div class="col-span-1">
            <span class="font-medium text-gray-400">Gross Ranking: </span>
            <mat-chip>
              <span *ngIf="functionalDetail?.gross_ranking == 'Low'" class="text-green-600">Low</span>
              <span *ngIf="functionalDetail?.gross_ranking == 'Medium'" class="text-yellow-500">Medium</span>
              <span *ngIf="functionalDetail?.gross_ranking == 'High'" class="text-red-600">High</span>
            </mat-chip>
          </div>
        </div>
      </div>
      <hr>
      <div class="my-3 ml-4" *ngIf="functionalDetail?.residual_ranking_value !==null">
        <p style="font-size: 17px" class="my-3">After Activity Details</p>
        <hr>
        <div class="my-3">
          <span class="font-medium text-gray-400">Existing Control: </span>
          <span class="font-extralight">{{functionalDetail?.existing_control}}</span>
        </div>

        <div class="my-3">
          <span class="font-medium text-gray-400">Mitigation Measures: </span>
          <span class="font-extralight">{{functionalDetail?.mitigation_measures}}</span>
        </div>

        <div class="my-3">
          <span class="font-medium text-gray-400">Further Action Required: </span>
          <span class="font-extralight">{{functionalDetail?.further_action_required}}</span>
        </div>

        <div class="my-3 grid grid-cols-3 gap-4">
          <div class="col-span-1">
            <div class="my-3">
              <span class="font-medium text-gray-400">Activity type: </span>
              <span class="font-extralight">{{functionalDetail?.routine_activity}}</span>
            </div>
          </div>
          <div class="col-span-1">
            <div class="my-3">
              <span class="font-medium text-gray-400">Completion Date: </span>
              <span class="font-extralight">{{functionalDetail?.completion_date}}</span>
            </div>
          </div>
          <div class="col-span-1">
            <div class="my-3">
              <span class="font-medium text-gray-400">Workers Involved: </span>
              <span class="font-extralight">{{functionalDetail?.workers_involved}}</span>
            </div>
          </div>

        </div>

        <div class="my-3 grid grid-cols-3 gap-4">
          <div class="col-span-1">
            <span class="font-medium text-gray-400">Residual Likelihood: </span>
            <span *ngIf="functionalDetail?.residual_likelihood == 1" class="font-extralight">Low</span>
            <span *ngIf="functionalDetail?.residual_likelihood == 2" class="font-extralight">Medium</span>
            <span *ngIf="functionalDetail?.residual_likelihood == 3" class="font-extralight">High</span>
          </div>
          <div class="col-span-1">
            <span class="font-medium text-gray-400">Residual Impact: </span>
            <span *ngIf="functionalDetail?.residual_impact == 1" class="font-extralight">Low</span>
            <span *ngIf="functionalDetail?.residual_impact == 2" class="font-extralight">Medium</span>
            <span *ngIf="functionalDetail?.residual_impact == 3" class="font-extralight">High</span>
          </div>
          <div class="col-span-1">
            <span class="font-medium text-gray-400">Residual Ranking: </span>
            <mat-chip>
              <span *ngIf="functionalDetail?.residual_ranking == 'Low'" class="text-green-600">Low</span>
              <span *ngIf="functionalDetail?.residual_ranking == 'Medium'" class="text-yellow-500">Medium</span>
              <span *ngIf="functionalDetail?.residual_ranking == 'High'" class="text-red-600">High</span>
            </mat-chip>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col-span-1">
    <mat-card class="my-5">
      <div class="grid grid-cols-5 gap-4 bg-green-100">
        <div class="col-span-1">
          <mat-icon class="mt-3 ml-5" style="color: #9CA3AF">loyalty</mat-icon>
        </div>
        <div class="col-span-4">
          <p class="mt-3 text-green-500">{{functionalDetail?.doc_number}}</p>
        </div>
      </div>
      <div class="grid grid-cols-5 gap-4">
        <div class="col-span-1">
          <mat-icon class="mt-3 ml-5" style="color: #9CA3AF">location_on</mat-icon>
        </div>
        <div class="col-span-4">
          <p class="mt-3">{{functionalDetail?.plant}}, {{functionalDetail?.department}}, {{functionalDetail?.unit}}
            . </p>
        </div>
      </div>

      <div class="grid grid-cols-5 gap-4">
        <div class="col-span-1">
          <mat-icon class="mt-3 ml-5" style="color: #9CA3AF">date_range</mat-icon>
        </div>
        <div class="col-span-4">
          <p class="mt-3">{{functionalDetail?.date}}</p>
        </div>
      </div>

      <div class="grid grid-cols-5 gap-4">
        <div class="col-span-1">
          <mat-icon class="mt-3 ml-5" style="color: #9CA3AF">timeline</mat-icon>
        </div>
        <div class="col-span-4">
          <p class="mt-3 text-green-500">{{functionalDetail?.status}}</p>
        </div>
      </div>
    </mat-card>

    <mat-card class="my-5">
      <div class="grid grid-cols-5 gap-4 bg-green-100">
        <div class="col-span-1">
          <mat-icon class="mt-3 ml-5" style="color: #9CA3AF">loyalty</mat-icon>
        </div>
        <div class="col-span-4">
          <p class="mt-3 text-green-500">{{functionalDetail?.doc_number}}</p>
        </div>
      </div>
      <div class="grid grid-cols-5 gap-4">
        <div class="col-span-1">
          <mat-icon class="mt-3 ml-5" style="color: #9CA3AF">location_on</mat-icon>
        </div>
        <div class="col-span-4">
          <p class="mt-3">{{functionalDetail?.plant}}, {{functionalDetail?.department}}, {{functionalDetail?.unit}}
            . </p>
        </div>
      </div>

      <div class="grid grid-cols-5 gap-4">
        <div class="col-span-1">
          <mat-icon class="mt-3 ml-5" style="color: #9CA3AF">date_range</mat-icon>
        </div>
        <div class="col-span-4">
          <p class="mt-3">{{functionalDetail?.date}}</p>
        </div>
      </div>

      <div class="grid grid-cols-5 gap-4">
        <div class="col-span-1">
          <mat-icon class="mt-3 ml-5" style="color: #9CA3AF">timeline</mat-icon>
        </div>
        <div class="col-span-4">
          <p class="mt-3 text-green-500">{{functionalDetail?.status}}</p>
        </div>
      </div>
    </mat-card>
  </div>
</div>

