<h1 mat-dialog-title>Request Changes</h1>
<div mat-dialog-content>
  <span>Please give comments on why you want to request changes.</span>
  <br>
  <mat-form-field class="w-full mt-3">
    <textarea matInput [(ngModel)]="rejectionComments" name="rejectionComments" placeholder="Comments"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button mat-button color="primary" (click)="requestChange()">Request Change</button>
</div>
